<% include globals/head %>

  <main class="errors">
    <h1>Fail</h1>
    <img src="http://www.stickycomics.com/wp-content/uploads/fail_whale_fail.jpg" alt="">
    <p>
      <%- message %>
    </p>
  </main>

<% include globals/foot %>
